*{
    box-sizing: border-box;
}
header{
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    background: #f3f3f3;
}
a > img {
    margin-top: 10px;
    height: 50px;
}
ul{
    display: flex;
    font-size: 1.1em;
}
ul li {
 padding: 9px;
margin: 0 5px ;
font-family: Arial, Helvetica, sans-serif;
border: 1px solid #666;
border-radius: 10px;
background-color: rgb(232, 255, 238);
color: #4b4b4b;
font-weight: 600;
transition: .4s ease-in-out;
box-shadow: 0 0 0 inset #04af93;
}
ul li:hover{
    overflow: hidden;
    box-shadow: 0 0 300px inset #00530c;
    color: #fff ;
    font-weight: 600;
}
#cards{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.card img {
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 2em;
    padding: 20px;
    margin: 5px;
}
.card button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: black;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.card h3 {
    font: 1.1em sans-serif ;
    padding: 10px;
}
.card p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
}
.basket {
    position: absolute;
    display: none;
    width: 600px;
    margin-bottom: 10px;

    border-radius: 2px;
    z-index: 1;
    right: 0;
    color: #fff;
    background: #000000b4;
}
.product{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.basket img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.basket div {
    margin-right: 10px;
}

.basket button {
    padding: 5px 10px;
    background-color: #d87a7a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.basket input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.basket{
    display: none;
}

.d-block{
    display: block;
}
